script(src="js/client.js")
script(src="js/Bacon.js")

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo Yammer Wall // MTA Madrid 2013 // #taconf

div.container-fluid
	div.row-fluid
		div.span1
			<!-- nothing -->
		div.span9
			ul#yams
		div.span1
			<!-- nothing -->

span.waiting
	img(src="images/ajax-loader.gif", alt="Spinner")
	| Waiting for yams...

span.search_terms
	| #{config.default_filter}