script(data-main="js/app/index", src="js/libs/require.js")

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo #{config.ui.title}
		p
			div#loadingstatus
				img(src="images/ajax-loader-dark.gif", alt="Spinner")
				| Waiting for yams...


		- if(config.auth.type != "none")
			p.navbar-text.pull-right
				img(src="#{user._json.mugshot_url}", alt="").mugshot
				a(href="#").navbar-link #{user.displayName}			
				||
				a(href="/logout").navbar-link Logout

div#connstatus.connecting

div.container-fluid
	div.row-fluid
		- if(config.analytics.show_in_front_page == true)
			div.span9				
				ul#yams				

			div.span3
				div.stats
					span.title Most active users
					ul#top-users
						li
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
					span.title Most active topics
					ul#top-topics
						li 
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
					span.title Most active threads
					ul#top-threads
						li 
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
		- else
			div.span2
			div.span8
				ul#yams
			div.span2
