script(src="js/client.js")

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo YammerPoll

		p.navbar-text.pull-right
			img(src="#{user._json.mugshot_url}", alt="").mugshot
			a(href="#").navbar-link #{user.displayName}			
			||
			a(href="/logout").navbar-link Logout

div.container-fluid
	div.row-fluid
		div.span3
			<!-- nothing -->
		div.span6
			ul#yams
		div.span3
			<!-- nothing -->

span.waiting
	img(src="images/ajax-loader.gif", alt="Spinner")
	| Waiting for yams...