include includes/templates
include includes/javascript

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo #{title}
		- if(config.ui.show_search) 
			||
			input.input-large.filter#filter(type="search", data-content="Use this filter to specify a tag or specific word to filter; only yams that contain the text will be displayed and all other ones will be ignored. Delete the content to display all yams again. The '!' operator can be used to filter only the yams that do not contain the given word", data-placement="bottom", data-animation="true", data-trigger="hover", data-title="Filter")

		- if(config.auth.disabled == false)
			p.navbar-text.pull-right
				img(src="#{user._json.mugshot_url}", alt="").mugshot
				a(href="#").navbar-link #{user.displayName}			
				||
				a(href="/logout").navbar-link Logout

div.container-fluid
	div.row-fluid
		- if(config.analytics.show_in_front_page == true)
			div.span8
				ul#yams
				span.waiting
					img(src="images/ajax-loader.gif", alt="Spinner")
					| Waiting for yams...

			div.span1
			div.span3
				div.stats
					span.title Most active users
					ul#top-users
						li
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
							| Waiting...
					span.title Most active topics
					ul#top-topics
						li 
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
							| Waiting...
					span.title Most active threads
					ul#top-threads
						li 
							img(src="images/ajax-loader-dark.gif", alt="Spinner") 
							| Waiting...							
		- else
			div.span2
			div.span8
				span.waiting
					img(src="images/ajax-loader.gif", alt="Spinner")
					| Waiting for yams...
				ul#yams
			div.span2
