script(src="js/client.js")

div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a(href="#").brand YammerPoll

			p.navbar-text.pull-right
				a(href="#").navbar-link #{user.displayName}
				img(src="#{user._json.mugshot_url}", alt="").mugshot

			div.nav-collapse.collapse
				ul.nav
					li
						a(href="https://github.com/oscarrenalias/yammer-poll-node") Source

div.container-fluid
	div.row-fluid
		div.span3
			<!-- nothing -->
		div.span6
			ul#yams

		div.span3
			<!-- nothing -->

span.waiting
	img(src="images/ajax-loader.gif", alt="Spinner")
	| Waiting for yams...