script(src="js/client.js")
div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		div.container
			a(data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="#").brand YammerPoll
			div.nav-collapse.collapse
				ul.nav
					li
						a(href="https://github.com/oscarrenalias/yammer-poll-node") Source code
					li
						a(href="/logout") Logout

div#yams
	span.waiting
		img(src="images/ajax-loader.gif", alt="Spinner")
		| Waiting for yams...