include includes/javascript
include includes/templates

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo YammerWall // MTA Madrid 2013 // #taconf

div.container-fluid
	div.row-fluid
		- if(config.analytics.show_in_front_page == true)
			div.span8
				ul#yams
				span.waiting
					img(src="images/ajax-loader.gif", alt="Spinner")
					| Waiting for yams...

			div.spain1
			div.span3
				span.title
					| Most active users
				ul#top-users
				span.title
					| Most active topics
				ul#top-topics
				span.title
					| Most active threads
				ul#top-threads
		- else
			div.span1
			div.span10
				img(src="images/ajax-loader.gif", alt="Spinner")
				| Waiting for yams...
				ul#yams
			div.span1

span.search_terms
	| #{config.default_filter}