script(src="js/Bacon.js")
script(src="js/underscore.js")
script(src="js/jquery.ajaxrefresh.js")
script(src="js/stats.js")

include includes/templates

div.navbar.navbar-fixed-top
	div.navbar-inner-custom
		a(href="#").logo YammerWall // Statistics

div.container-fluid
	div.row-fluid
		div.span2			
		div.span8
			span.title
				| Most active users
			ul#top-users
			span.title
				| Most active topics
			ul#top-topics
			span.title
				| Most active threads
			ul#top-threads
		div.span2
			