body {
	background-color: #2a2e38;
}

.navbar-fixed-top {
	background-color: #2a2e38;
}

#yams {
	position: relative;
	top: 45px;
}

#yams li {
	list-style-type: none;
}

.yam {
	margin: 10px;
	padding-right: 10px	;
	background-color: white;
	font-size: 11pt;
	/* rounded corners, yay */
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;

}

.yam-container ul {
	list-style-type: none;
}

.yam-mugshot {
	position: relative;
	display: block;
	width: 48px;
	float:left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .mugshot {
	height: 24px;
	width: 24px;
	padding: 2px 2px 3px 2px;
}

.navbar-inner-custom {
	padding-left: 15px;
	padding-right: 15px;
}

input.filter {
	margin-top: 5px;
	border: 0px;
	background-color: gray;
	color: #D1D1D1;
	width: 150px;
	margin-left: 10px;
}

input.filter:focus {
	background-color: white;
	color: black;
}

.logo {
	color: #D1D1D1;
	font-size: 22px;
	float: left;
	padding: 10px 10px 10px 10px;
}

a.logo:hover {
	color: white;
	text-decoration: none;
}

.navbar-text {
	color: #D1D1D1;
}

.navbar-link {
	color: #D1D1D1;
	padding-left: 5px;
	padding-right: 5px;
}

a.navbar-link:hover {
	text-decoration: none;
	color: white;
}

.waiting {
	background-color: white;
	padding: 10px 30px 10px 30px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	width: 100%;
	left: 40%;
	top: 45px;
}

.login {
	width:auto;
	height:auto;
	margin:75px 200px 0 200px;
	background-color: white;
	padding: 10px 30px 10px 30px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}

.waiting a {
	color: #000;
}

.waiting a:hover {
	text-decoration: underline;
}

.yam-body {
	word-wrap: break-word;
	top: 0px;
	padding-left: 70px;
	padding-top: 5px;
	min-height: 55px;
	padding-bottom: 10px;
}

.shadow {
	-webkit-box-shadow: 4px 4px 4px 0px rgba(1, 1, 1, 0.5);
	box-shadow: 4px 4px 40px 0px rgba(1, 1, 1, 0.5);
}

.yam-info {
	padding-left: 10px;
	font-size: 80%;
}

.yam-info .timeago {
	text-decoration: none;
	border: none;
}

.yam-info .yam-user {
	font-weight: bold;
}

.yam-attachments {
	padding-left: 10px;
	padding-bottom: 5px;	
}

.yam-attachment-info {
	font-size: 80%;
}

.yam-attachment-image {
    /*width: 100%;*/
    max-height: 100%;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

#yams .separator {
	border-top: 1px solid #D1D1D1;
	color: #D1D1D1;
	text-align: center;
	font-size: 85%;
	padding: 0px;
	margin: 0px;
}

.tipsy { 
  font-size: 90%; 
  position: absolute; 
  padding: 5px; 
  z-index: 100000;
  color: white; 
}

/* Rounded corners */
.tipsy-inner {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 4 4 4px #000000;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 5px #000000;

  /* make it a little wider */
  max-width: 400px;
  text-align: left;
}

/*
 Styles for the stats
 */
.stats {
	color: #D1D1D1;
	position: relative;
	top: 45px;
}

.stats ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1em;
}

.stats li {
	list-style-type: none;
	float: left;
}

.title {
	display: block;
	font-size: 1.2em;
}

#top-users .user {	
	margin: 2px;
}

#top-topics li {
	padding-right: 1em;
}

#top-threads li {
	padding-bottom: 1em;
}

/*
 Connection status
 */
#connstatus {
	position:fixed;
	top: 0.5em;
	right: 0.5em;
	color: black;
	z-index: 9999;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10px;
}

.connecting {
	background-color: #f4ed94;
}

.connected {
	background-color: #b2f06a;
}

.disconnected {
	background-color: #f25a0d;
}

/*
 Loading indicator
*/
#loadingstatus {
	color: #D1D1D1;
	padding: 10px 10px 0 35%;
	position: fixed;
}